<nav class="mobile-bottom-nav">
	<div class="mobile-bottom-nav__item" [routerLink]="['/home']" routerLinkActive="mobile-bottom-nav__item--active" >
		<div class="mobile-bottom-nav__item-content">
			<i class="fa-solid fa-house-user"></i>
		</div>		
	</div>
	<div class="mobile-bottom-nav__item" [routerLink]="['/transaction']" routerLinkActive="mobile-bottom-nav__item--active" >
		<div class="mobile-bottom-nav__item-content">
			<i class="fa fa-exchange-alt"></i>
		</div>		
	</div>
	<div class="mobile-bottom-nav__item" [routerLink]="['/orders']" routerLinkActive="mobile-bottom-nav__item--active" >
		<div class="mobile-bottom-nav__item-content">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
		</div>		
	</div>
	<div class="mobile-bottom-nav__item" [routerLink]="['/category']" routerLinkActive="mobile-bottom-nav__item--active" >
		<div class="mobile-bottom-nav__item-content">
			<i class="fa fa-wrench" aria-hidden="true"></i>
		</div>		
	</div>
</nav>