<div class="w-100 vh-100 bg-white d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class=" h-50 col-12 text-center">
                <h1 class="font-primary">RJ19 Car Wash<br> Services</h1>
            </div>
            <div class="col-12 md-4 text-center p-5">
                <h4>Hello, {{ CustomerData.name }}</h4>
            </div>
            <div class="col-12 md-4 text-center p-5">
                <button class="btn btn-outline-secondary">Download App Now</button>
            </div>
            <div class="md-4">
            </div>
        </div>
    </div>
</div>
<app-bottombar></app-bottombar>