.font-primary{
    color: red;
    font-size: 30px;
}

.font-primary {
    color: red;
}
*,a,button,h1,h2,h3,h4,h5,h6,label{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}